body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

p {
    font-size: 18px;
}

.circle-image {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin: 20px auto;
}

.circle-image img {
    width: 100%;
    height: auto;
    display: block;
}

#opening-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
