body {
    background-color: rgb(32, 32, 32);
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 2s ease-out;
}

h1, p {
    /* Global Color */
    color: #e6e6e6;
    font-family: "Questrial";
    font-weight: 200;
    margin: 5px 0;
    padding: 0;
}

h1 {
    font-family: "Unbounded";
    font-weight: 400;
}
p {
    font-size: 18px;
}
.glowing-text {
    text-shadow: 0px 0px 10px #a52bf779, 0 0 30px #3336ff79, 0 0 60px #3352ff, 0 0 90px #3347ff, 0 0 120px #3579ff;
    animation: glowing 2s ease-in-out infinite alternate;
}
.profile-image-container {
    width: 150px;
    height: 150px;
    margin: 15px auto;
    position: relative;
}

.profile-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 50%;
}

.blur-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    filter: blur(20px);
    z-index: -1;
}

.kemonomimi {
    display: none;
    font-size: 13px;
    margin: auto 25px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.pill {
    width: 100px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.5s cubic-bezier(0.8, -0.5, 0.2, 1), height 0.5s cubic-bezier(0.8, -0.5, 0.2, 1);
}
.discordbutton {
    width: 200px;
    height: 30px;
    background-color: #596cec;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s cubic-bezier(0.8, -0.5, 0.2, 1), background-color 0.3s ease-in-out;
    z-index: 2;
    cursor: pointer;
}
.discordbutton:hover {
    background-color: #6a7bee;
    margin: 10px auto;
    display: flex;
}

.discordpill {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.discord:hover::before,
.discord:hover::after {
    animation: glowing 1.5s linear infinite;
}

#discordimg {
    width: 90px;
    height: 90px;
    position: absolute;
    margin: -47px -153px;
}
#discordipill {
    position: absolute;
    margin: -45px -65px;
    font-size: 13px;
}
#discordipill h1 {
    font-size: 14px;
}
#discordipill p {
    font-size: 14px;
}

.fade-out {
    opacity: 0;
}
.fade-in {
    opacity: 1;
}
.iconholder {
    transition: opacity 0.2s ease;
    cursor: pointer;
}
#discord {
    position: absolute;
    display: inline-block;
    margin: 2px;
}
#discord-glow {
    height: 20px;
    opacity: 0;
    filter: blur(2px);
    transition: opacity 0.5s ease;
    z-index: 1;
}
#discord-glow:hover {
    opacity: 0.7;
}
.underline {
    position: relative;
    text-decoration: none;
    color: #fdebda;
    cursor: pointer;
}
.underline::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -0.5px;
    width: 0;
    height: 0.5px;
    background-color: #fdebda;
    transition: width 0.3s ease;
} 
.underline:hover::after, .popup-trigger:focus + .animated-underline::after {width: 100%;}
@keyframes slideIn {
    from {
        transform: translateX(-50%) translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateX(-50%);
        opacity: 1;
    }
}
@keyframes slideOut {
    from {
        transform: translateX(-50%);
        opacity: 1;
    }
    to {
        transform: translateX(-50%) translateY(-20px);
        opacity: 0;
    }
}
@keyframes glowing {
    0% {
        text-shadow: 0px 0px 10px #a52bf71c, 0 0 30px #3336ff79, 0 0 60px #3352ff, 0 0 90px #3347ff, 0 0 120px #3579ff;
    }
    100% {
        text-shadow: 9px 9px 10px #a52bf71c, 0 0 30px #3336ff79, 0 0 60px #3352ff, 0 0 90px #3347ff, 0 0 120px #3579ff;
    }
}